.product {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;

  .image {
    width: 400px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &_hide {
      display: none;
    }

    &_show {
      display: block;
    }
  }

  @media (max-width: 600px) {
    display: block;
  }

  &_details {
    margin-left: 24px;
  }
}