.shop {

  .spinner-wrapper {
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .heading {
    font-size: 24px;
    color: black;
  }

  .search-wrapper {
    width: 50%;
  }

  &_items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    
    @media (max-width: 900px) {
      grid-template-columns: repeat(4, 1fr);
    }
  
    @media (max-width: 730px) {
      grid-template-columns: repeat(3, 1fr);
    }
  
    @media (max-width: 570px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media (max-width: 420px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}